# -------------------------
# General
# -------------------------
# confirmation for deleting four+ files
alias rm='rm -I'
alias c='clear'

# -------------------------
# C
# -------------------------
# extra error handling when compiling C files
alias gccw='gcc -Wall -Werror -Wextra -pedantic -std=gnu89'

# -------------------------
# Python
# -------------------------
# make '3' optional when executing python
alias python='python3'

# -------------------------
# TMUX
# -------------------------
alias ta='tmux attach-session'
alias td='tmux detach-client'
alias ts='tmux choose-tree -s'
alias tn='tmux new-window; tmux rename-window'

# -------------------------
# Neovim
# -------------------------
alias v='nvim'
